/*
!.gitignore

!resources
resources/*
!resources/views

!database
database/*
!database/factories
database/factories/UserFactory.php
!database/migrations
database/migrations/2014_10_12_000000_create_users_table.php
database/migrations/2014_10_12_100000_create_password_resets_table.php
database/migrations/2019_08_19_000000_create_failed_jobs_table.php
database/migrations/2019_12_14_000001_create_personal_access_tokens_table.php
!database/seeders

!app
app/*
!app/Http
!app/Models
app/Models/User.php
app/Http/*

!app/Http/Controllers
app/Http/Controllers/Controller.php
!app/Http/Requests

!routes
routes/*
!routes/web.php
